<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tbManagerDao" class="com.dao.TbManagerDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="tbManagerService" class="com.services.TbManagerService">
        <property name="tbManagerDao" ref="tbManagerDao"/>
    </bean>

    <bean id="tbManagerAction" class="com.action.TbManagerAction" scope="prototype">
        <property name="tbManagerService" ref="tbManagerService"/>
    </bean>

</beans>